
       </div>
<!--container ends here-->
       
       <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Help The Community Grow</h5>
                <p class="grey-text text-lighten-4">We hope you have enjoyed using Yelp Camp! Although this is not official yelpcamp website, we tried our best to develope the system for people around the world to share camp information.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/MayKhattar"><i class="twitter icon"></i></a>twitter.com/MayKhattar</li>
<!--                    <li><a class="grey-text text-lighten-3" href="ms.maykhattar@gmail.com"><i class="mail outline icon"></i>ms.maykhattar@gmail.com</a></li>-->
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/maykay.mkt"><i class="facebook f icon"></i>www.facebook.com/maykay.mkt</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright
            <a class="grey-text text-lighten-4 right" href="www.facebook.com/maykay.mkt">Developed with <i class="heart icon"></i> by MayK</a>
            </div>
          </div>
        </footer>
            
                 
                         
                                 
                                         
                                                 
          

        <!-- Latest compiled and minified JavaScript -->

        
        <!-- Semantic -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script src="/assets/js/script.js"></script>
        <script src="/assets/js/notify.min.js"></script>
 </body>
</html>