 <!DOCTYPE html>
<html>
     <head>
     <title>Yelp Camp</title> 
     <link href="https://fonts.googleapis.com/css?family=Fauna+One|Open+Sans|Oswald|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css"/>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- local --> 
    <link rel="stylesheet" href="/assets/css/style.css"/>
    
 </head>
 <body>
          <!-- jQuery is required -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          
           <nav>
            <div class="nav-wrapper teal">
              <a href="/" class="brand-logo"><i class="yelp icon"></i>Yelp Camp</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/campgrounds/new">Add New Campground</a></li>
                <li><a href="/campgrounds">Campgrounds</a></li>
                <li><a href="#" class='dropdown-button largoLogo' data-activates='dropdown1' data-beloworigin="true" ><i class="large material-icons">account_circle</i></a></li>
                 <li><ul id='dropdown1' class='dropdown-content'>
                    <li><a href="/login"><i class="sign in icon"></i>Sign In</a></li>
                    <li><a href="/register"><i class="add user icon"></i>Sign Up</a></li>
                    <li><a href="/logout"><i class="sign out icon"></i>Logout</a></li>
                    <li><img id="profileLogo"></li>
                  </ul></li>
                  <!-- Dropdown Structure -->
                  
 
              </ul>
            </div>
          </nav>
          
         <div class="container main">