 <!DOCTYPE html>
<html>
     <head>
     <title>Yelp Camp</title> 
     <link href="https://fonts.googleapis.com/css?family=Fauna+One|Open+Sans|Oswald|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css"/>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- local --> 
    <link rel="stylesheet" href="/assets/css/style.css"/>
    
 </head>
 <body>
          <!-- jQuery is required -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <% var isLoggedIn = false,name = "",pic="" %>
         <% if(currentUser){ isLoggedIn = true; %> 
          <% name = currentUser.username; %>
           <% pic = currentUser.profilepic; %>
         <%  }%>
           <nav>
            <div class="nav-wrapper teal">
              <a href="/" class="brand-logo"><i class="yelp icon"></i>Yelp Camp</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
               <% if(isLoggedIn){ %>
                <li><a href="/campgrounds/new">Add New Campground</a></li>
                <li><a href="/campgrounds">Campgrounds</a></li>
                <% } %>
                <li>
                <a href="#" class='dropdown-button largoLogo' id="circularBtn" data-activates='dropdown1' data-beloworigin="true" >
                    <% if(!isLoggedIn) { %>
                    <i class="large material-icons">account_circle</i>
                    <% }else{ %>
                    <span><img class="ui mini circular image" id="circularImg" src="<%=pic%>"></span>
                    <% } %>
                </a></li>

                 <li>
                    <ul id='dropdown1' class='dropdown-content'>
                    <% if(isLoggedIn){ %>
                     <li><a href="#"><i class="user icon"></i><%=name%></a></li>
                    <li><a href="/logout"><i class="sign out icon"></i>Log Out</a></li>
                    <% }else{ %>
                    <li><a href="#modal1" class="modal-trigger"><i class="sign in icon"></i>Log In</a></li>
                    <% } %>
                  </ul>
                </li>
                
                         
                 <!-- Dropdown Structure -->
                  
 
              </ul>
            </div>
          </nav>
          <div class="container main">
<!--  flash message        -->
            <% if(success && success.length >0){ %>
                <div class="ui positive message">
                  <i class="close icon"></i>
                      <div class="header">
                        Success
                      </div>
                  <p><%=success%></p>
                </div>
            <% } %> 
            <% if(error && error.length >0){ %>
                <div class="ui negative message">
                      <i class="close icon"></i>
                          <div class="header">
                            Oops
                          </div>
                      <p><%=error%></p>
                </div>  
            <% } %>  
<!--  flash message end       -->    