<% include ./partials/header %>


  <!--Start here-->
  
  <h4 class="createNewHeading">Create New Campgrounds</h4>
  <div class="container">
      <form action="/campgrounds" method="POST" class="createNew"> 
            <div class="row">
                <div class="input-field col s12">
                  <input name="campName" id="campName" type="text" class="validate" data-length="27">
                  <label class="active" for="campName">Campground Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <input name="campLink" id="img" type="text" class="validate">
                  <label class="active" for="img">Image Link</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea" name="campDesc"></textarea>
                  <label for="textarea1">Description</label>
                </div>
            </div>          
            <div class="row">
              <button type="submit" class="waves-effect waves-light btn">Create New Campground</button>
            </div>
      </form>
  </div>

<!--Ends here-->

       
<% include ./partials/footer %>