 <!DOCTYPE html>
<html>
     <head>
     <title>Yelp Camp</title> 
     <link href="https://fonts.googleapis.com/css?family=Fauna+One|Open+Sans|Oswald|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
     <!-- Material Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Semantic -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css"/>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- local --> 
    <link rel="stylesheet" href="/assets/css/style.css"/>
    
 </head>
 <body class="bg">
          <!-- jQuery is required -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          
           <nav>
            <div class="nav-wrapper teal">
              <a href="/" class="brand-logo"><i class="yelp icon"></i>Yelp Camp</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a class="waves-effect waves-light modal-trigger largoLogo" href="#modal1"><span><i class="large material-icons">account_circle</i></span></a></li>
              </ul>
            </div>
          </nav>


          <!-- Modal Structure -->
          <div id="modal1" class="modal">
           <h4 class="createNewHeading">Sign in to Yelp Camp</h4>
            <form action="/login" method="POST" class="createNew"> 
                        <div class="row">
                            <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                              <input name="username" id="username" type="text" class="validate">
                              <label class="active" for="username">User Name</label>
                            </div>
                        </div>
                      <div class="row">
                        <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                          <input name="password" id="password" type="password" class="validate">
                          <label for="password">Password</label>
                        </div>
                      </div>
                        <div class="row">
                         <div class="input-field col s12 s12 xl6 l6 offset-xl3 offset-l3">
                          <button type="submit" class="waves-effect waves-light btn">Log In</button>
                             <a href="/register" class="leftMargin50">Don't have an account?</a>
                          </div>
                        </div>
                  </form>
          </div>

          
          
          
         <div class="container main">
         
<div class="landingBody">
     <div class="ui center aligned container">
        <h1 class="ui center aligned header">
            Welcome to Yelp Camp!
            <h5 class="sub header gap">View our hand-picked campgrounds from all over the world.</h5>
        </h1>

        <a class="waves-effect waves-light btn-large modal-trigger" id="landingBtn" modal-trigger" href="#modal1">
            View All Campgrounds
        </a>
    </div>   
</div>

     
<% include ./partials/footer %>