<% include ./partials/header %>

     

<div class="landingBody">
     <div class="ui center aligned container">
        <h1 class="ui center aligned header">
            Welcome to Yelp Camp!
            <h5 class="sub header">View our hand-picked campgrounds from all over the world.</h5>
        </h1>
            
        <a class="ui basic button" id="landingBtn" href="/blogs">
            View All Campgrounds
        </a>
    </div>   
</div>

     
<% include ./partials/footer %>