
body{
    margin: 0 auto;
    min-height: 100vh;
}
.main{
    min-height:70vh;
}
.bg{
    width:100%;
    height:100%;
    background-image: url("http://happyhousing.org/images/hero/hero-017.jpg");
    background-size: cover;
}
.landingBody .container h1{
    font-size:50px;
	font-family: 'Oswald', sans-serif;
}
.landingBody .container h5{
    font-size:18px;
	font-family: 'Fauna One', serif;
}
.card .card-title{
    font-family: 'Fauna One', serif;
    font-size:18px;
    line-height:1.4em;
}
.card .card-title a{
    color:#212121 !important;
}
.card-content p{
    font-family: 'Playfair Display', serif;
    line-height: 1.6em;
    text-align:justify;
}
.card-reveal .card-title{
    font-size:15px;
    font-weight: 800;
    font-family: 'Fauna One', serif;
}
.card-reveal p{
    margin-top:15px;
    font-family: 'Playfair Display', serif;
    text-align:justify;
}
.rating{
    margin:10px 0;
}
.createNew{
    margin-bottom:100px;
}

.container{
    height:auto;
}
.campgroundContainer{
    margin-top:50px;
    margin-bottom:50px;
}
nav .brand-logo{
    font-size:1.5rem;
}
nav ul a:hover{
    color:#004d40;
}
 h4:first-child{
    margin-top:100px;
    margin-bottom:50px;
    text-align:center;
    color:#004d40;
}
.landingBody{
    margin-top:30vh;
}
a{
    color:#004d40;
}
.landingBody .container a:hover{
    color:#004d40;
}
.card-action a i{
    font-size:1.5em;
    color:#004d40;
}
.gap{
    margin:50px;
}
.timestamp{
    color:#757575;
}
.row{
    width:100%;
}
.profileChoose{
    width:80px;
    margin:0 auto;
}
.profileChoose a i{
    font-size:80px;
}
.profileChoose label{
    text-align:center;
}
.profileChoose a{
    text-align:center;
}
.heading{
    margin:20px auto;
}
#avatarRow{
    width:640px;
    margin: 0 auto;
}
.lastRow{
        margin-bottom:100px;
}
.leftMargin50{
    margin-left:50px;
}
.largoLogo i{
    font-size:60px;
}
#circularBtn{
    position:relative;
    top:0;
    margin:0;
    height:65px;
}
#circularImg{
    padding:15px 0;
    line-height: 65px;
}
.dropdown-content{
    width:200px;
}
.circular{
    border-radius:20px;
}
.circular .image:hover{
    -webkit-box-shadow: 14px 19px 40px -18px rgba(0,0,0,0.53);
-moz-box-shadow: 14px 19px 40px -18px rgba(0,0,0,0.53);
box-shadow: 14px 19px 40px -18px rgba(0,0,0,0.53);
}
.linkBtn{
    background:none;
    border:none;
}